*.txt
*.dll
*.pdb
*.exe
/VRPServer/HouseManager/bin/
/VRPServer/HouseManager/bin/
/VRPServer/TestAllPath/bin/
/.vs/
/VRPServer/WsOfWebClient/bin/
/VRPServer/WsOfWebClient/obj/
/VRPServer/MarketConsoleApp/bin/
/VRPServer/HouseManager2_0/
/VRPServer/CommonClass/bin/
/VRPServer/CommonClass/obj/
/VRPServer/ConsoleBitcoinChainApp/obj/
/VRPServer/ConsoleBitcoinChainApp/bin/
/VRPServer/AppDoProgramFunction/obj/
/VRPServer/AppDoProgramFunction/bin/
/VRPServer/BitCoinTrasfer/obj/
/VRPServer/BitCoinTrasfer/bin/
/Webshow/webHtml/AndroidApk/
/Webshow/webHtml/App_Data/
/Webshow/webHtml/bin/
/VRPServer/ConsoleTestAPP/bin/
/VRPServer/AppCheckConnection/bin/
/VRPServer/ConsoleBitcoinChainApp/bin/
/VRPServer/CubeImageTool/bin/
/VRPServer/Server/.vs/
/VRPServer/BitCoinTrasfer/bin/
/VRPServer/TestCore/bin/
/VRPServer/ModelHelper/bin/