*.txt
*.dll
*.pdb
*.exe
/VRPServer/HouseManager/bin/
/VRPServer/HouseManager/bin/
/VRPServer/TestAllPath/bin/
/.vs
/VRPServer/WsOfWebClient/bin/
/VRPServer/WsOfWebClient/obj/
/VRPServer/MarketConsoleApp/bin/
/VRPServer/HouseManager2_0/bin/