.dialog {
    position: absolute;
}

    .dialog.show {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: 8;
    }

    .dialog.hide {
        top: 100%;
        width: 0px;
        height: 0px;
        z-index: -1;
    }

.dialogContainer {
    width: 100%;
    text-align: center;
    margin: auto;
    /*max-width: 400px;*/
}


.dialogPanel1 {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #fff0;
    /*position: relative;*/
    display: block !important;
    width: 100%; 
    border-radius: 7px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.7);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,.7);
    box-shadow: 2px 2px 6px rgba(0,0,0,.7);
    height: 100%;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
}

.dialogPanelheader {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    height: 45px;
    width: 100%;
    border-radius: 6px 6px 0 0;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    height: 45px;
    width: 100%;
    background: #333;
    color: #fff;
    background: -webkit-gradient(linear,left top,left bottom,from(#555),to(#222));
    background: -webkit-linear-gradient(#555,#222);
    background: -moz-linear-gradient(#555,#222);
    background: -ms-linear-gradient(#555,#222);
    background: -o-linear-gradient(#555,#222);
    background: linear-gradient(#555,#222);
    position: relative;
    z-index: 100;
    -webkit-user-select: none;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.dialogPanelTitleName {
    padding-top: 7px;
    text-align: center;
    /*display: inline-block;*/
    /*position: absolute;*/
}

.dialogPanelRightButton {
    cursor: pointer !important;
    padding: 6px 10px !important;
    margin-right: 10px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    margin-top: 5px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
    border-color: #2c2727 #2c2727 #1a1919;
    background: #333;
    background: -webkit-gradient(linear,left top,left bottom,from(#555),to(#222));
    background: -webkit-linear-gradient(top,#555,#222);
    background: -moz-linear-gradient(top,#555,#222);
    background: -ms-linear-gradient(top,#555,#222);
    background: -o-linear-gradient(top,#555,#222);
    background: linear-gradient(top,#555,#222);
    display: block;
    position: relative;
    border: 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    font-family: '微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-appearance: button;
    left: calc(100% - 107px);
    left: -moz-calc(100% - 107px);
    left: -webkit-calc(100% - 107px);
    right: 7px;
    float: right;
    max-width: 100px;
    min-width: 100px;
    text-align: right;
}

.dialogPanelLeftButton {
    cursor: pointer !important;
    padding: 6px 10px !important;
    margin-right: 10px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    margin-top: 5px;
    margin-bottom: 7px;
    cursor: pointer;
    width: auto;
    font-size: 14px;
    vertical-align: middle;
    border-color: #2c2727 #2c2727 #1a1919;
    background: #333;
    background: -webkit-gradient(linear,left top,left bottom,from(#555),to(#222));
    background: -webkit-linear-gradient(top,#555,#222);
    background: -moz-linear-gradient(top,#555,#222);
    background: -ms-linear-gradient(top,#555,#222);
    background: -o-linear-gradient(top,#555,#222);
    background: linear-gradient(top,#555,#222);
    display: inline-block;
    position: relative;
    border: 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    font-family: '微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-appearance: button;
    /*margin-left: -207px;*/
    left: 7px;
    max-width: 100px;
    min-width: 100px;
    text-align: right;
}

.dialogBtn_text {
    max-width: 100px;
    height: 20px;
    line-height: 20px;
    display: block;
    color: #fff;
    line-height: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dialogChat_toolbar_footer {
    width: 100%;
    position: absolute;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    width: 100%;
    bottom: 0px;
    background: #333;
    color: red;
    background: -webkit-gradient(linear,left top,left bottom,from(#555),to(#222));
    background: -webkit-linear-gradient(#555,#222);
    background: -moz-linear-gradient(#555,#222);
    background: -ms-linear-gradient(#555,#222);
    background: -o-linear-gradient(#555,#222);
    background: linear-gradient(#555,#222);
    -webkit-user-select: none;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    z-index: 20;
    height: 50px;
    /* display:inline-block;*/
}

.dialogChat_toolbar {
    border-radius: 0 0 5px 5px;
    display: inline-block;
    width: 100%;
}

.dialogChat_textareaStyle {
    margin-top: 2px;
    margin-left: 2px;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
}

.dialogSendChatBtn {
    cursor: pointer !important;
    padding: 6px 10px !important;
    padding: .57em 10px;
    font-size: 14px;
    vertical-align: middle;
    border-color: #044062;
    background: #396b9e;
    background: -webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));
    background: -webkit-linear-gradient(top,#5f9cc5,#396b9e);
    background: -moz-linear-gradient(top,#5f9cc5,#396b9e);
    background: -ms-linear-gradient(top,#5f9cc5,#396b9e);
    background: -o-linear-gradient(top,#5f9cc5,#396b9e);
    background: linear-gradient(top,#5f9cc5,#396b9e);
    -webkit-text-shadow: 0 1px 1px #194b7e;
    -moz-text-shadow: 0 1px 1px #194b7e;
    text-shadow: 0 1px 1px #194b7e;
    border: 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: .75em 12px;
    font-family: '微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    width: 70px;
    height: 40px;
    margin: 5px 0px 0px 0px;
}

.dialogFunctionBtn {
    cursor: pointer !important;
    padding: 6px 10px;
    width: auto;
    font-size: 14px;
    vertical-align: middle;
    border-color: #044062;
    background: #396b9e;
    background: -webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));
    background: -webkit-linear-gradient(top,#5f9cc5,#396b9e);
    background: -moz-linear-gradient(top,#5f9cc5,#396b9e);
    background: -ms-linear-gradient(top,#5f9cc5,#396b9e);
    background: -o-linear-gradient(top,#5f9cc5,#396b9e);
    background: linear-gradient(top,#5f9cc5,#396b9e);
    -webkit-text-shadow: 0 1px 1px #194b7e;
    -moz-text-shadow: 0 1px 1px #194b7e;
    text-shadow: 0 1px 1px #194b7e;
    border: 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: .75em 12px;
    width: 4%;
    font-family: '微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    width: 50px;
    height: 40px;
    margin: 5px 0px 0px 0px;
}

.dialogPanel_body {
    width: 100%;
    position: relative;
    background: #edededb0;
    top: 0px;
    height: calc(100% - 95px);
    height: -moz-calc(100% - 95px);
    height: -webkit-calc(100% - 95px);
    overflow: auto;
    overflow-x: hidden;
    bottom: 50px;
}

.dialogChat_time {
}

    .dialogChat_time span {
        color: rgba(255,255,255,.8);
        background: rgba(0,0,0,.3);
        padding: 2px 8px;
        display: inline-block;
        margin: 10px;
        font-size: 13px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
    }

.dialogChat_content_group {
    padding: 10px;
}

    .dialogChat_content_group.buddy {
        text-align: left;
    }

        .dialogChat_content_group.buddy > .chat_nick {
            text-align: left;
        }

        .dialogChat_content_group.buddy > .chat_content_avatar {
            float: left;
            margin: 0 0 0 10px;
        }

        .dialogChat_content_group.buddy > .chat_content {
            text-align: left;
        }

        .dialogChat_content_group.buddy > .chat_content {
            display: inline-block;
            min-height: 16px;
            max-width: 50%;
            border-radius: 5px;
            padding: 10px 15px;
            word-break: break-all;
            box-shadow: 1px 1px 5px #000;
            line-height: 1.4;
            display: inline-block;
            min-height: 16px;
            max-width: 50%;
            background: #fff;
            background: -webkit-gradient(linear,left top,left bottom,from(white,#e1e1e1));
            background: -webkit-linear-gradient(white,#e1e1e1);
            background: -moz-linear-gradient(white,#e1e1e1);
            background: -ms-linear-gradient(white,#e1e1e1);
            background: -o-linear-gradient(white,#e1e1e1);
            background: linear-gradient(#fff,#e1e1e1);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            word-break: break-all;
            box-shadow: 1px 1px 5px #000;
            line-height: 1.4;
            margin-left: 7px;
        }

    .dialogChat_content_group.self {
        text-align: right;
    }

        .dialogChat_content_group.self > .chat_content {
            background: #97c94c;
            background: -webkit-gradient(linear,left top,left bottom,from(#cf9),to(#9c3));
            background: -webkit-linear-gradient(#cf9,#9c3);
            background: -moz-linear-gradient(#cf9,#9c3);
            background: -ms-linear-gradient(#cf9,#9c3);
            background: -o-linear-gradient(#cf9,#9c3);
            background: linear-gradient(#cf9,#9c3);
            display: inline-block;
            min-height: 16px;
            max-width: 50%;
            border-radius: 5px;
            padding: 10px 15px;
            word-break: break-all;
            box-shadow: 1px 1px 5px #000;
            line-height: 1.4;
            margin-right: 7px;
        }

        .dialogChat_content_group.self > .chat_content_avatar {
            float: right;
            margin: 0 0 0 10px;
        }

        .dialogChat_content_group.self > .chat_nick {
            text-align: right;
        }

        .dialogChat_content_group.self > .chat_content {
            text-align: left;
        }

.dialogChat_nick {
    font-size: 15px;
    margin: 0 0 10px;
    text-shadow: 1px 1px 1px #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.dialogSession {
    text-align: center;
    width: 61.8033%;
    height: 45px;
    padding: 0;
    /*margin: 0;*/
    /*left: 0%;*/
    box-sizing: border-box;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    background: #333;
    border-left-color: #222;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    -webkit-box-shadow: inset 0 0 10px #111;
    -moz-box-shadow: inset 0 0 10px #111;
    box-shadow: inset 0 0 10px #111;
    border-left: 0;
    position: absolute;
    overflow: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    height: 40px;
    border-right: 1px solid #222;
    border-left: 1px solid #555;
    color: #ccc;
    font-size: 34px;
    text-align: center;
    text-shadow: 0 -1px 0 #000;
    -moz-box-shadow: inset 0 0 10px transparent;
    -webkit-box-shadow: inset 0 0 10px transparent;
    box-shadow: inset 0 0 10px transparent;
    cursor: pointer;
    list-style-type: none;
    border-color: #044062;
    background: #396b9e;
    background: -webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));
    background: -webkit-linear-gradient(top,#5f9cc5,#396b9e);
    background: -moz-linear-gradient(top,#5f9cc5,#396b9e);
    background: -ms-linear-gradient(top,#5f9cc5,#396b9e);
    background: -o-linear-gradient(top,#5f9cc5,#396b9e);
    background: linear-gradient(top,#5f9cc5,#396b9e);
    /*position: relative;*/
    bottom: 2px;
}

    .dialogSession.left {
        left: 6px;
        /*display:inline-block;*/
        max-width: 50px;
        min-width: 50px;
        bottom: 2px;
    }

    .dialogSession.right {
        left: calc(100% - 101px);
        left: -moz-calc(100% - 101px);
        max-width: 95px;
        min-width: 95px;
    }

    .dialogSession.position1 {
        left: 6px;
        /*display:inline-block;*/
        max-width: 50px;
        min-width: 50px;
    }

    .dialogSession.position2 {
        left: 62px;
        /*display:inline-block;*/
        max-width: 50px;
        min-width: 50px;
    }

    .dialogSession.input {
        left: 62px;
        width: calc(100% - 62px - 3em);
    }

    .dialogSession.position3 {
        max-width: 50px;
        min-width: 50px;
        left: calc(100% - 112px);
        left: -moz-calc(100% - 112px);
    }

    .dialogSession.position4 {
        /*display:inline-block;*/
        max-width: 50px;
        min-width: 50px;
        left: calc(100% - 56px);
        left: -moz-calc(100% - 56px);
    }

.dialogCenter {
    max-width: calc(100% - 236px);
    max-width: -moz-calc(100% - 236px);
    min-width: calc(100% - 236px);
    min-width: -moz-calc(100% - 236px);
    left: 118px;
    text-align: center;
    height: 45px;
    padding: 0;
    /*margin: 0;*/
    /*left: 0%;*/
    text-shadow: 0 1px 0 #000;
    position: relative;
    overflow: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    height: 40px;
    color: #ccc;
    font-size: 34px;
    text-align: center;
    text-shadow: 0 -1px 0 #000;
    -moz-box-shadow: inset 0 0 10px transparent;
    -webkit-box-shadow: inset 0 0 10px transparent;
    box-shadow: inset 0 0 10px transparent;
    cursor: pointer;
    list-style-type: none;
    position: relative;
    bottom: 3px;
}

.dialogChat_textareaStyle {
    display: block;
    height: calc(100% - 10px);
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize: none;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    max-height: 80px;
    overflow: hidden;
    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: .6em;
    -webkit-border-radius: .6em;
    border-radius: .6em;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    font-family: '微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    -webkit-user-modify: read-write-plaintext-only;
    font-family: monospace;
    border-color: rgb(169, 169, 169);
    background: #e6f4e8;
    color: black;
    width: calc(100% - 15px);
    width: -moz-calc(100% - 15px);
    width: -webkit-calc(100% - 15px);
    position: absolute;
    top: 0px;
    left: 0px;
}
/*-----------------------有用没用分割线---------------------------*/


