html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, table, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.tableOfReward {
    border: solid 1px black;
}

    .tableOfReward table {
        border: solid 1px black;
        background-color:#80808050;
    }

    .tableOfReward th {
        border: solid 1px black;
        font-weight: 600;
    }

    .tableOfReward td {
        border: solid 1px black;
        padding: 0 0.5em 0 0.5em;
        text-align: center;
    }
